.container{
    background-color: brown;
    align-items: center;
    width: 70%;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

label{
    font-weight: bold;
}

input{
    border: 1px solid black;
    padding: 5px;
}
button{
    background-color: aqua;
}